# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
/coverage

# デザイン参考用のスクリーンショット (社内資料のため公開しない)
pic.png
